@model IEnumerable<System.Security.Claims.Claim>

<h1>Área Secreta</h1>

<p>Olá, @User.Identity.Name!</p>

<p>Perfil:</p>
<ul>
    <li>Tipo: @ViewData["Type"]</li>
    <li>Opções de Menu:</li>
    <ul>
        @foreach (var option in (List<Menus>)ViewData["MenuOptions"])
        {
            <li>@option.Nome</li>
        }
    </ul>
</ul>